<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="stylesheet" href="/stylesheets/formCheck.css">
  <title>Restaurant List</title>
</head>


<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <a href="/new" class="btn btn-outline-secondary btn-m">
        <i class="fas fa-cart-plus"></i>
        新增餐廳
      </a>
    </div>
  </nav>

  <div class="banner"></div>

</header>

<body>


  <main>{{{body}}}</main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascript/popper.js"></script>
  <script src="/javascript/bootstrap.js"></script>
  <script src="/javascript/confirmDelete.js"></script>


  <nav class="navbar navbar-light bg-light d-flex flex-row-reverse">
    <div class="text-secondary">Pusheng © Versions 1.0.1</div>
  </nav>
</body>

</html>